####
# General ZSH aliases
####

# Global aliases
alias -g C='| wc -l'
alias -g H='| head'
alias -g L="| less"
alias -g N="| /dev/null"
alias -g S='| sort'
alias -g G='| rg' # now you can do: ls foo G something

# PS
alias psa="ps aux"
alias psg="ps aux | grep "

# Alias Editing
alias ae='vim ~/.aliases' #alias edit
alias ar='source ~/.aliases'  #alias reload

# vimrc editing
alias ve='vim ~/.vimrc'

# zsh profile editing
alias ze='vim ~/.zshrc'
alias zr='source ~/.zshrc'

# Common shell functions
# alias less='less -r'
alias tf='tail -f'
alias l='less'
alias lh='ls -alt | head' # see the last modified files
alias cl='clear'
alias open='xdg-open'

# Zippin
alias gz='tar -zcvf'

alias ka9='killall -9'
alias k9='kill -9'

# Gem install
alias sgi='sudo gem install --no-ri --no-rdoc'

# Forward port 80 to 3000
alias portforward='sudo ipfw add 1000 forward 127.0.0.1,3000 ip from any to any 80 in'

# Use Ctrl-x,Ctrl-l to get the output of the last command
zmodload -i zsh/parameter
insert-last-command-output() {
  LBUFFER+="$(eval $history[$((HISTCMD-1))])"
}
zle -N insert-last-command-output
bindkey "^X^L" insert-last-command-output

# Override rm -i alias which makes rm prompt for every action
alias rm='nocorrect rm'

# Use zmv for massive renaming
autoload -U zmv
alias zmv="noglob zmv -W"

# SOCKS tunnel on 4711
alias sshtunnel="ssh -ND 4711 -v feynmanliang"
alias secure_chromium="chromium --proxy-server=socks://localhost:4711"

# '[r]emove [o]rphans' - recursively remove ALL orphaned packages
alias pacro="patcmatic -Qtdq > /dev/null && sudo pacmatic -Rns \$(pacman -Qtdq | sed -e ':a;N;$!ba;s/\n/ /g')"

# Additional pacman alias examples
alias pacupd='sudo pacmatic -Sy && sudo abs'         # Update and refresh the local package and ABS databases against repositories
alias pacinsd='sudo pacmatic -S --asdeps'            # Install given package(s) as dependencies
alias pacmir='sudo pacmatic -Syy'                    # Force refresh of all package lists after updating /etc/pacman.d/mirrorlist

# update pacman mirrors
alias pacmirrorupd='sudo /usr/bin/reflector --verbose -l 200 -p http --sort rate --save /etc/pacman.d/mirrorlist'

# dealing with the following message from pacman:
#
#     error: couldnt lock database: file exists
#     if you are sure a package manager is not already running, you can remove /var/lib/pacman/db.lck

alias pacunlock="sudo rm /var/lib/pacman/db.lck"   # Delete the lock file /var/lib/pacman/db.lck
alias paclock="sudo touch /var/lib/pacman/db.lck"  # Create the lock file /var/lib/pacman/db.lck

# update, clean and optimize pacman, rebuild index, free memory
alias daily="sudo pacmatic -Syu; sudo aura -Akua; sudo paccache -rvk3; sudo pacman-optimize; sudo updatedb; ~/bin/freemem"

# start VNC server
alias startvncslim="sudo x11vnc -auth /var/run/slim.auth -display :0 -usepw -many" # uses SLIM Xauth
alias startvnc="x11vnc -auth /home/fliang/.Xauthority -display :0 -usepw -many" # uses fliang user Xauth

# wget entire directory tree recursively
alias wgetdir="wget -m -e robots=off -nH --cut-dirs=2 --user-agent=Mozilla/5.0 --no-parent --reject \"index.html*\""

# make latex
alias latexmkpdf="latexmk -xelatex -pdf -pvc"

# find what's listening on ipv4 ports
alias lsports="lsof -Pn +M -i4"

# neovim
alias vim="nvim"
alias vimdiff="nvim -d"

# ipython vi mode
alias ipython="ipython --TerminalInteractiveShell.editing_mode=vi"

# Functions
#
# (f)ind by (n)ame
# usage: fn foo
# to find all files containing 'foo' in the name
fn() { ls **/*$1* }

# FZF tmux
tm() {
  local session
  newsession=${1:-new}
  session=$(tmux list-sessions -F "#{session_name}" | \
    fzf --query="$1" --select-1 --exit-0) &&
    tmux attach-session -t "$session" || tmux new-session -s $newsession
}

# Ctrl-G Ctrl-H: fzf-ghq
fzf-ghq() {
  local selected_dir=$(ghq list | fzf --query="$LBUFFER")

  if [ -n "$selected_dir" ]; then
    BUFFER="cd $(ghq root)/${selected_dir}"
    zle accept-line
  fi

  zle reset-prompt
}
zle -N fzf-ghq
bindkey '^g^h' fzf-ghq

# hub
if (( $+commands[hub] )); then
  eval "$(hub alias -s)"
fi

unalias z 2> /dev/null
z() {
  [ $# -gt 0 ] && _z "$*" && return
  cd "$(_z -l 2>&1 | fzf --height 40% --reverse --inline-info +s --tac --query "$*" | sed 's/^[0-9,.]* *//')"
}

alias ls="ls --color=auto"
alias vim="nvim"
alias ucbvpn="sudo openconnect ucbvpn.berkeley.edu --user feynman --interface vpn0 "
alias mux="tmuxinator"
